<h1><%= @deliverable.title %></h1>
<div class="row deliverable-status">
	<div class="col-md-2">
		<% if @deliverable.completed_by_id %>
			<%= image_tag 'green-check.png' %> Completed By <%= @deliverable.completed_by.name %>
		<% else %>
			<%= image_tag 'check.png' %> Incomplete.
		<% end %>		
	</div>
	<div class="col-md-4">
		Created <%= time_ago_in_words @deliverable.created_at %> ago
		by <%= @deliverable.creator.try(:name_and_email) %>.
	</div>
</div>
<div class="row">
	<div class="col-md-12 deliverable-description">
		<p><%= @deliverable.description %></p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
<% @message_threads.each do |thread| %>
		<% eac = eac = thread.email_account_threads.user(current_user).first %>
		<strong>
			<% if eac %>
				<%= link_to thread.messages.first.subject, gmail_url(eac.thread_id) %>
			<% else %>
				<%= thread.messages.first.subject %>
			<% end %>
		</strong>
		<% if eac %>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>From</th>
						<th>To</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% eac.emails.by_date.each do |email| %>
					<tr>
						<td><%= email.from_address %></td>
						<td><%= email.to_addresses.join(', ') %></td>
						<td>
							<%= link_to email.snippet, gmail_url(email.web_id) %>
						</td>
						<td><%= time_ago_in_words email.date %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<% end %>
		</div>
<% end %>
	</div>
</div>