<div id="htk-dcontainer">
	<div id="htk-col1">
		<div id="dtree"></div>
		<span class="htk-action" id="htk-action-nd"><%= image_tag 'plus.png' %></span>
	</div>
	<div id="htk-col2">
		<div id="htkv-nd" class="htk-hidden">
			<h3>Find Deliverable</h3>
			<form id="find-deliverable">
				<input type="text" placeholder="Search for Deliverable" name="deliverable_name" />
				<input type="hidden" name="deliverable_id" value="" />
				<select id="deliverable-name-select">
				</select>
				<button type="button">Associate</button>
			</form>
			<h3>Create Deliverable</h3>
			<form id="create-deliverable">
				<select class="parent-name-select">
				</select>
				<%= insert_file 'html/deliverables_form.html.erb' %>
			</form>
		</div>
		<div id="htkv-ed" class="htk-hidden">
			<h3>Edit Deliverable</h3>
			<form>
				<%= insert_file 'html/deliverables_form.html.erb' %>
				<input type="checkbox" class="htk-action-delete">Delete</input>
			</form>
		</div>
	</div>
	<div id="htk-col3">
		<div id="htkv-complete" class="htk-hidden">
			<h3>Mark Job Complete</h3>
			<form>
				<input type="hidden" name="deliverable_id" />
				<input type="hidden" name="comment_type_id" value="<%= DeliverableCommentType.complete.id %>" />
				<textarea placeholder="Notes" name="note"></textarea>
				<button type="button">Mark Complete</button>
			</form>
		</div>
		<div id="htkv-incomplete" class="htk-hidden">
			<h3>Mark Job Incomplete</h3>
			<form>
				<input type="hidden" name="deliverable_id" />
				<input type="hidden" name="comment_type_id" value="<%= DeliverableCommentType.incomplete.id %>" />
				<textarea placeholder="Notes" name="note"></textarea>
				<button type="button">Mark Incomplete</button>
			</form>
		</div>
		<div id="htkv-disassociate" class="htk-hidden">
			<h3>Disassociate Deliverable?</h3>
			<form>
				<input type="hidden" name="deliverable_id" />
				<button type="button">Yes Disassociate</button>
				<button type="button">Cancel</button>
			</form>
		</div>
	</div>
</div>