<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title>HTK Test Comments Gadget</title>
    <style>
      <%= insert_file 'stylesheets/comments_gadget.css' %>
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
      <%= insert_file 'lib/handlebars-v1.3.0.js' %>
      <%= insert_file 'lib/autogrow.js' %>
      <%= insert_file 'mock_gadget_wrappers.js.erb' %>
      <%= insert_file 'spec.js.erb' %>
      <%= insert_file 'lib/handlebars_helpers.js' %>
      $(document).ready(function(){
        commentsGadgetReady();
      });
    </script>
  </head>
</html>
