<tr>
	<td>{{deliverable.deliverable_type.name}}</td>
	<td><a href="/deliverables/{{deliverable.id}}">{{deliverable.title}}</a></td>
	<td>
		{{#if project}}
		Project: {{project.title}}
		{{/if}}
		{{#if company}}
		Company: {{company.title}}
		{{/if}}
	</td>
	<td>{{deliverable.owner.name}}</td>
	<td>
		{{#each deliverable.responsible_users}}
			{{user.name}}
		{{/each}}
	</td>
</tr>
