<tr>
	<td>{{deliverable.deliverable_type.name}}</td>
	<td>{{deliverable.title}}</td>
	{{#if project}}
	<td>{{project.title}}</td>
	{{else}}
	<td></td>
	{{/if}}
	{{#if company}}
	<td>{{company.title}}</td>
	{{else}}
	<td></td>
	{{/if}}
	<td>
	{{#each deliverable.responsible_users}}
		{{user.first_name}}
	{{/each}}
	</td>
</tr>
