<div class="row">
	<div class="small-12 columns">
		<h3>Emails for {{email_account.username}}</h3>
		<table>
			{{#each email in controller}}
				<tr>
					<td>
			      {{#each party in email.parties}}
			      {{#linkTo 'messages' party}}{{party.name}}{{/linkTo}}
			      {{/each}}
					</td>
					<td>{{#linkTo 'email' page email.id}}{{email.subject}}{{/linkTo}}</td>
					<td>{{from_now email.date}}</td>
				</tr>
			{{/each}}
		</table>
		<p>
			{{#if hasPreviousPage}}
			<button {{action 'previousPage'}}>&lt;&lt;Previous Page</button>
			{{/if}}
			{{#if hasNextPage}}
			<button {{action 'nextPage'}}>Next Page&gt;&gt;</button>
			{{/if}}
		</p>
	</div>
  <div class="small-12 columns">
  	{{outlet}}
	</div>
</div>
