<div class="row">
  <div class="small-12 columns">
    <nav class="top-bar">
      <section class="top-bar-section">
        <ul class="left">
          <li><a {{action 'toggleVisibility'}}>{{showHideText}}</a></li>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>
  </div>
</div>
{{#with message}}
<div class="row">
  <div class="small-5 columns">
    From: {{emailAddresses from_email_accounts max_length=24}}
    To: {{emailAddresses destination_email_accounts max_length=24}}
  </div>
  <div class="small-4 columns">
    {{subject}}
  </div>
  <div class="small-3 columns">
    {{date}}
  </div>
</div>
{{/with}}

<div class="row">
	<div class="small-12 columns">
		{{safeString html_body}}
	</div>
</div>
