<div class="row">
	<div class="small-12 columns">
		<h3>Messages for {{party.name}}</h3>
		<table>
			<thead>
				<tr>
					<th>From</th>
					<th>To</th>
					<th>Subject</th>
					<th>Date</th>
				</tr>
			</thead>
			{{#each message in controller}}
			<tr>
				<td>{{emailAddresses message.from_email_accounts max_length=24}}</td>
				<td>{{emailAddresses message.destination_email_accounts max_length=24}}</td>
				<td>{{#linkTo 'message' message.id}}{{message.subject}}{{/linkTo}}</td>
				<td>{{from_now message.date}}</td>		
			</tr>
			{{/each}}
		</table>
	</div>
  <div class="small-12 columns">
  	{{outlet}}
	</div>
</div>
