<div class="row">
	<div class="small-12 columns">
		<h3>{{party.name}} Messages</h3>
		<label>
			{{view Ember.Checkbox checkedBinding="controller.showHidden"}}
			Show Hidden
		</label>
		{{#view Htk.MessageSearch}}
			{{input type="text" value=view.searchInput}}
		{{/view}}
		<div class="messages">
			<table>
				<tbody>
					{{#each message in controller}}
					<tr {{bind-attr class="message.hidden"}}>
						<td>{{emailAddresses message.from_email_accounts max_length=24}}</td>
						<td>{{emailAddresses message.destination_email_accounts max_length=24}}</td>
						<td>{{#linkTo 'message' message.id}}{{message.subject}}{{/linkTo}}</td>
						<td>{{from_now message.date}}</td>		
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
  <div class="small-12 columns">
  	{{outlet}}
	</div>
</div>
