<h2><%= current_user.email %></h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>From</th>
				<th>Subject</th>
				<th>Folder</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<% @emails.each do |email| %>
			<tr>
				<td><%= email.from_address %></td>
				<td>
					<strong><%= link_to email.subject, email_url(email) %></strong>
					<%= email.snippet %>
				</td>
				<td><%= email.label_ids.try(:join, ' ') %></td>
				<td><%= email.date %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>